@charset "UTF-8";
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	margin: 0;
}

hr {
	overflow: visible;
	box-sizing: content-box;
}

a {
	-webkit-text-decoration-skip: objects;
}

a,
button,
label,
input {
	-webkit-tap-highlight-color: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 80%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

td,
th {
	font-weight: normal;
	vertical-align: top;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	outline-style: none;
	background: transparent;
	font-size: inherit;
}

input {
	border: 0;
	outline: 0;
}

.md-icon,
.md-clipboard::before,
.md-nav__title::before,
.md-nav__button,
.md-nav__link::after,
.md-search-result__article--document::before,
.md-source-file::before,
.md-typeset .admonition>.admonition-title::before,
.md-typeset details>.admonition-title::before,
.md-typeset .admonition>summary::before,
.md-typeset details>summary::before,
.md-typeset .footnote-backref,
.md-typeset .critic.comment::before,
.md-typeset summary::after,
.md-typeset .task-list-control .task-list-indicator::before {
	font-family: "Material Icons";
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	speak: none;
	word-wrap: normal;
	direction: ltr;
}

.md-content__icon,
.md-header-nav__button,
.md-footer-nav__button,
.md-nav__title::before,
.md-nav__button,
.md-search-result__article--document::before {
	display: inline-block;
	margin: 0.4rem;
	padding: 0.8rem;
	font-size: 2.4rem;
	cursor: pointer;
}

.md-icon--arrow-back::before {
	content: "\E5C4";
}

.md-icon--arrow-forward::before {
	content: "\E5C8";
}

.md-icon--menu::before {
	content: "\E5D2";
}

.md-icon--search::before {
	content: "\E8B6";
}

[dir="rtl"] .md-icon--arrow-back::before {
	content: "\E5C8";
}

[dir="rtl"] .md-icon--arrow-forward::before {
	content: "\E5C4";
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
input {
	color: rgba(0, 0, 0, 0.87);
	-webkit-font-feature-settings: "kern", "liga";
	font-feature-settings: "kern", "liga";
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre,
code,
kbd {
	color: rgba(0, 0, 0, 0.87);
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-family: "Courier New", Courier, monospace;
}

html {
	height: 100%;
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	position: relative;
	height: 100%;
}

hr {
	display: block;
	height: 0.1rem;
	padding: 0;
	border: 0;
}

.md-svg {
	display: none;
}

.md-grid {
	max-width: 122rem;
	margin-right: auto;
	margin-left: auto;
}

.md-container,
.md-main {
	overflow: auto;
}

.md-container {
	display: table;
	width: 100%;
	height: 100%;
	padding-top: 4.8rem;
	table-layout: fixed;
}

.md-main {
	display: table-row;
	height: 100%;
}

.md-flex {
	display: table;
}

.md-flex__cell {
	display: table-cell;
	position: relative;
	vertical-align: top;
}

.md-flex__cell--shrink {
	width: 0%;
}

.md-flex__cell--stretch {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.md-flex__ellipsis {
	display: table-cell;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.md-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 4.8rem;
	transition: background-color 0.25s, color 0.25s;
	background-color: #3f51b5;
	color: white;
	box-shadow: none;
	z-index: 2;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.md-header[data-md-state="shadow"] {
	transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

.md-header-nav {
	padding: 0 0.4rem;
}

.md-header-nav__button {
	position: relative;
	transition: opacity 0.25s;
	z-index: 1;
}

.md-header-nav__button:hover {
	opacity: 0.7;
}

.md-header-nav__button.md-logo * {
	display: block;
}

.md-header-nav__topic {
	display: block;
	position: absolute;
	transition: opacity 0.15s, -webkit-transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
	transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.15s;
	transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.15s, -webkit-transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.md-header-nav__topic+.md-header-nav__topic {
	-webkit-transform: translateX(2.5rem);
	transform: translateX(2.5rem);
	transition: opacity 0.15s, -webkit-transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1);
	transition: transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1), opacity 0.15s;
	transition: transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1), opacity 0.15s, -webkit-transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

[dir="rtl"] .md-header-nav__topic+.md-header-nav__topic {
	-webkit-transform: translateX(-2.5rem);
	transform: translateX(-2.5rem);
}

.md-header-nav__title {
	padding: 0 2rem;
	font-size: 1.8rem;
	line-height: 4.8rem;
}

.md-header-nav__title[data-md-state="active"] .md-header-nav__topic {
	-webkit-transform: translateX(-2.5rem);
	transform: translateX(-2.5rem);
	transition: opacity 0.15s, -webkit-transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1);
	transition: transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1), opacity 0.15s;
	transition: transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1), opacity 0.15s, -webkit-transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

[dir="rtl"] .md-header-nav__title[data-md-state="active"] .md-header-nav__topic {
	-webkit-transform: translateX(2.5rem);
	transform: translateX(2.5rem);
}

.md-header-nav__title[data-md-state="active"] .md-header-nav__topic+.md-header-nav__topic {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: opacity 0.15s, -webkit-transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
	transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.15s;
	transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.15s, -webkit-transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
	opacity: 1;
	z-index: 0;
	pointer-events: initial;
}

.md-header-nav__source {
	display: none;
}

@media print {
	.md-header {
		display: none;
	}
}

@media only screen and (min-width: 100em) {
	html {
		font-size: 68.75%;
	}
}

@media only screen and (min-width: 125em) {
	html {
		font-size: 75%;
	}
}

body,
input {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
}

code,
kbd,
pre {
	font-family: "Roboto Mono", "Courier New", Courier, monospace
}

.md-header-nav__button.md-logo {
	display: inline-block
}

.anchor {
	position: relative;
	display: block;
	top: -4.8rem;
	visibility: hidden
}